<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Hello there! I'm <span style="font-size: large; background: rgb(238, 45, 45); margin: 2px; padding: 2px; border-radius: 8px; color: whitesmoke;">< Aryan /> </Aryan></span>, a passionate explorer, storyteller, and lifelong
        learner on a journey to uncover the beauty and complexity of our world.
        Through the lens of my experiences and curiosity, I aim to share
        meaningful insights, ignite inspiration, and foster connections with
        people from all walks of life.
      </p>
      <p>
        My fascination with exploration and discovery began at an early age,
        sparked by nature's wonders and fueled by an insatiable thirst for
        knowledge. From scaling majestic mountains to delving into the depths of
        ancient cultures, I've always sought to embrace new perspectives and
        immerse myself in diverse landscapes and communities.
      </p>
      <p>
        As a photographer, I strive to capture more than just images; I aim to
        encapsulate moments that evoke emotion, spark contemplation, and shed
        light on the intricacies of the human experience. Whether it's the
        vibrant chaos of a bustling city street or the serene stillness of a
        remote wilderness, each photograph tells a story waiting to be unveiled.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
